/*=======================================================================
	
	Item Name 		|	    Discover Madagascar project/ Aqua template
	
	Author Name		|		Yvan Randrianantenaina
	
-------------------------------------------------------------------------
	CSS Structure
-------------------------------------------------------------------------
	
    01- General CSS
    
    I- Front Office CSS:
        02- Navbar
        03- home section
        04- bubble
        05- Destination section
        06- Card
        07- log section
        08- Galery
        09- followers
        10- instructor
        11- subscribing
        12- contributor
        13- contact
        14- footer
    
    II- Back Office CSS:
        15- login

    *Responsive are in separate files.
	
=======================================================================*/

/*=======================================================================
	01-General CSS
=======================================================================*/
*{
	margin:0;
	padding:0;
	outline:none;
	font-family: Open Sans, sans-serif;
}

body{
    overflow-x: hidden;
}

input{
    margin-top: 3%;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    border-radius: 3px;
    border-color: #cbcfda;
    border-style: solid;
}

::-webkit-scrollbar{
	height:10px;
	width:10px;
	background:rgb(1, 0, 37);
}
::-webkit-scrollbar-thumb{
	background:rgb(18, 58, 236);
	border:solid 2px rgb(1, 0, 37);
}
::-webkit-scrollbar-thumb:hover{
	background:rgb(18, 58, 236);
}
::-moz-scrollbar{
	height:10px;
	width:10px;
	background:rgb(1, 0, 37)F;
}
::-moz-scrollbar-thumb{
	background:rgb(18, 58, 236);
	border:solid 2px rgb(1, 0, 37)F;
}
::-moz-scrollbar-thumb:hover{
	background:rgb(18, 58, 236);
}

/*=======================================================================
	02-Navbar Css
=======================================================================*/

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: center;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo img {
    width: 20%; 
    height: 20%;
    text-decoration: none;
}




.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}


.aft{
    padding: 0;
   background-color: rgba(17, 38, 230, 0.678);
}

.aft div.logo img{
    float: left;
   width: 17%;
   height: 17%;
   padding-left: 3rem;
   animation: in 3s ease-in-out;
}

@keyframes in {
    0% {
       margin-left: -400px;
    }
    25%{
        margin-left: 10px;
    }
    50% {
        margin-left: 20px;
    }
    100% {
        margin: 0;
    }
}

/*=======================================================================
	03-home
=======================================================================*/

.home {
    width: 100%;
    height: 97vh;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    background-image: url(../img/received_667719770641145.jpeg);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
}

.home p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(255, 255, 255, 0.767);
    overflow: hidden;
}

.home i{
    color: rgb(243, 201, 12);
    animation: pulse 2s infinite;
}

.home i:hover{
    animation:none;
}

@-webkit-keyframes pulse{
    0%,50%,100%{
        opacity: 1;
    }
    25%,75%{
        opacity: 0;
    }
}

@keyframes pulse{
    0%,50%,100%{
        opacity: 1;
    }
    25%,75%{
        opacity: 0;
    }
}

.home .intro{
    padding-top: 8%;
    padding-left: 15%;
    width: 75%;
}

.home .intro h1{
    font-size: 70px;
    color: #fff;
    line-height: 150%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

.home .intro2{
    padding-left: 23%;
    width: 37%;
}

.home .intro2 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(255, 255, 255, 0.767);
}

.home .intro2 img{
    width: 15%; 
    height: 6%;
    text-decoration: none;
    margin-right: 2%;
}

.home .intro2 button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1%;
    border-radius: 5px;
    background: rgb(243, 201, 12);
    border-color: rgb(163, 135, 7);
}

.home .categories{
    width: 60%;
    position: absolute;
    right: 0;
    height: auto;
}

.stage_contact {
    width: 90px;
    height: 90px;
    display: inline-block;
    left: 8%;
    position: absolute;
    bottom: 25%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }

  .stage_home{
    width: 120px;
    height: 120px;
    display: inline-block;
    left: 4%;
    position: absolute;
    bottom: 7%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }
 
  .stage_destination{
    width: 95px;
    height: 95px;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 16%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.stage_gallery{
    width: 153px;
    height: 130px;
    display: inline-block;
    margin: 77px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.stage_list_centre{
    width: 145px;
    height: 126px;
    position: absolute;
    top: 24%;
    left: 68%;
    display: inline-block;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.stage_shop{
    width: 133px;
    height: 150px;
    display: inline-block;
    right: 15%;
    position: absolute;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.stage_cote1{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 17%;
    left: 52%;
    z-index: -1;
    opacity: 0;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.stage_cote2{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    bottom: 38%;
    left: 60%;
    z-index: -1;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.stage_cote3{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 6%;
    right: 10%;
    z-index: -1;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.stage_cote4{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    bottom: 48%;
    right: 7%;
    z-index: -1;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}



 .stage {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }


 


/*=======================================================================
	04-Bubble
=======================================================================*/
.ball p{
    color: rgb(0, 0, 0);
    text-align: center;
    top: 40%;
    font-size: 100%;
    position: absolute;
    width: 100%;
}

.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
    .ball:before {
      content: "";
      position: absolute;
      top: 1%;
      left: 5%;
      width: 90%;
      height: 90%;
      border-radius: 100%;
      background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      z-index: 2; }
    .ball:after {
      content: "";
      position: absolute;
      display: none;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 80%;
      border-radius: 100%;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      z-index: 2;
      -webkit-transform: rotateZ(-30deg);
      transform: rotateZ(-30deg); }
    .ball .shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
      -webkit-transform: rotateX(90deg) translateZ(-160px);
      transform: rotateX(90deg) translateZ(-160px);
      z-index: 1; }
    .ball.plain {
      background: black; }
      .ball.plain:before, .ball.plain:after {
        display: none; }
    .ball.bubble {
      background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
      -webkit-animation: bubble-anim 2s ease-out infinite;
      animation: bubble-anim 2s ease-out infinite; }

  
      .ball.bubble:before {
        -webkit-filter: blur(0);
        filter: blur(0);
        height: 80%;
        width: 40%;
        background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
        -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
        transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
      .ball.bubble:after {
        display: block;
        background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }
  
  
  
  @-webkit-keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
  
    20% {
      -webkit-transform: scaleY(0.90) scaleX(1.01) scaleZ(0.10);
      transform: scaleY(0.90) scaleX(1.01) scaleZ(0.10); }
  
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9) scaleZ(0.90) ;
      transform: scaleY(1.1) scaleX(0.9) scaleZ(0.90); }
  
    68% {
      -webkit-transform: scaleY(0.98) scaleZ(1.02) scaleX(1.02);
      transform: scaleY(0.98) scaleZ(1.02) scaleX(1.02); }
  
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98) scaleZ(1.02);
      transform: scaleY(1.02) scaleX(0.98) scaleZ(1.02); }
  
    97%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1); 
       
    } }

    @keyframes activities{
        0%,25%{
            opacity:0;
        }
        50%,75%{
            opacity:0.5;
        }
          97%, 100% {
           opacity:1;
          } 
    }



  
  @keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
  
    20% {
      -webkit-transform: scaleY(0.90) scaleX(1.01) scaleZ(0.10);
      transform: scaleY(0.90) scaleX(1.01) scaleZ(0.10); }
  
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9) scaleZ(0.90);
      transform: scaleY(1.1) scaleX(0.9) scaleZ(0.90); }
  
    68% {
      -webkit-transform: scaleY(0.98) scaleZ(1.02) scaleX(1.02);
      transform: scaleY(0.98) scaleZ(1.02) scaleX(1.02); }
  
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98) scaleZ(1.02);
      transform: scaleY(1.02) scaleX(0.98) scaleZ(1.02); }
  
    97%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1); 
    } }

/*=======================================================================
	05-Destination
=======================================================================*/

.destination{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.destination .header{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2%;
    font-style: italic;
    text-align: center;
    justify-content: center;
    color: rgb(5, 31, 146);
}

.destination .header .intro{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    color: #000000;
}




/*=======================================================================
	06-Card
=======================================================================*/


.column{
    float: left;
    width: 25%;
    padding: 0;
    margin: 3%;
  }
 
  .row{
    margin:  3%;
  }
 
  .row:after{
    content: "";
    display: table;
    clear: both;
  }
 
  .card{
    z-index: -1;
    position:relative;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 6px 10px 0 rgba(4, 12, 129, 0.719);
    padding: 16px;
    text-align: center;
    background: #cbcfda;
    border-style: groove;
  }
 
  .body_card{
    z-index: -1;
   position:relative;
   color: #000000;
   box-shadow: 0 4px 8px 0 rgba(4, 12, 129, 0.719);
   padding: 16px;
   text-align: center;
   background: #cbcfda;
   border-style: groove;
    border-radius: 0 0 9px 9px;
  }
 
  .card .img{
    width: 100%;
  }
 
  .card .img1{
    position:absolute;
    bottom:-20%;
    right: -30%;
    width: 90%;
    height: 80%;
  }
 
  
  /*=======================================================================
	07-Log
=======================================================================*/

.log{
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background-image: url(../img/gallery-image19_20161114_1309202868.jpg);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.log .formulaire{
    margin-top: 4%;
    margin-left: 8%;
    width: 35%;
    height: 80%;
    background: white;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0,0.2);
   border-radius: 5px 5px 5px 5px;
   box-sizing: border-box;
}

.log .formulaire p{
    color:rgb(5, 31, 146);
    text-align: center;
    padding: 5%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0;
}

.log .formulaire img{
   margin-left: 43%;
   font-size: 20px;
}

.log .formulaire div{
    width: 100%;
}

.log .formulaire button{
    width: 25%;
    height: 50px;
    margin-left: 38%;
    margin-top: 3%;
    border-radius: 30px;
    background: rgb(226, 174, 4);
    border-color: orange;
}

.log .time{
    z-index: -1;
    margin-left: 50%;
    width: 45%;
    height: 70%;
    transform: translateY(-124%);
}

.log .time .title{
    z-index: -1;
    font-size: 50px;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.log .time .offer{
    z-index: -1;
    color: antiquewhite;
    margin-top: 8%;
    font-size: 15px;
}

.row_time{
    z-index: -1;
    margin:  4%;
    height: 10vh;
  }
 
  .row_time:after{
    z-index: -1;
    content: "";
    display: table;
    clear: both;
  }

.column_time{
    z-index: -1;
    float: left;
    width: 15%;
    height: 100%;
    padding: 0;
    margin: 2%;
    background: rgb(214, 133, 10);
    border-radius: 100%;
    color: #fff;
  }
 
  .column_time .times{
    z-index: -1;
    padding-top: 10%;
    text-align: center;
  }

.log .time img{
    font-size: 20px;
}


  /*=======================================================================
	08-Galery Section
=======================================================================*/

.galery{
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.galery .header{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2%;
    font-style: italic;
    text-align: center;
    justify-content: center;
    color: rgb(5, 31, 146);
}

.galery .col{
    margin: 5%;
    column-count: 3;
    column-width: 100px;
    column-gap: 10px;
  }
  
  .galery .col img{
    width: 100%;
    border-style: groove;
    border-color: #031f6e79;
  }


  /*=======================================================================
	09-follower
=======================================================================*/
.follower{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background: url(../img/slide-1.jpg);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.follower .column{
    float: left;
    width: 15%;
    padding-top: 1%;
    margin: 5%;
  }
 
  .follower .row{
    margin:  2%;
  }
 
  .follower .row:after{
    content: "";
    display: table;
    clear: both;
  }

  .follower .number{
      font-size: 40px;
      font-family: fantasy;
      line-height: 35px;
      color: #fff;
      font-weight: 500;
  }

  .follower p{
      line-height: 35px;
      color: #fff;
      font-weight: 400;
      text-align: center;
  }

  .follower img{
      font-size: 20px;
  }
 

  /*=======================================================================
	10-instructor
=======================================================================*/
.instructor{
    width: 100%;
    height: 150vh;
    justify-content: center;
}

.instructor .header{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2%;
    font-style: italic;
    text-align: center;
    justify-content: center;
    color: rgb(5, 31, 146);
}

.instructor .header .intro{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    color: #000000;
}


:root{
    --background:rgba(0, 0, 255, 0.13);
  }
  
  .instructor .container{
    align-items: center;
    display: flex;
    height: 70vh;
    justify-content: center;
  }
  
  .instructor .top2{
    background: url(../img/instructor/mt-1974-team-img03.jpg);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
    animation: Top2 8s ease-in-out infinite;
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    border-style: groove;
    height: 50%;
    width: 100%;
  }

  

 
  @keyframes Top2{
    0%{
           border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      background: url(../img/instructor/mt-1974-team-img03.jpg);
      background-position: center top;
      background-size:cover;
      background-repeat: no-repeat;
      border-style: groove;
    }50%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      background: url(../img/instructor/mt-1974-team-img03.jpg);
      background-position: center top;
      background-size:cover;
      background-repeat: no-repeat;
      border-style: groove;
    }100%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      background: url(../img/instructor/mt-1974-team-img03.jpg);
      background-position: center top;
      background-size:cover;
      background-repeat: no-repeat;
      border-style: groove;
    }
  }

  .instructor .top1{
    background: url(../img/instructor/mt-1974-team-img01.jpg);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
    animation: Top1 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    border-style: groove;
    height: 50%;
    width: 100%;
  }
  
  @keyframes Top1{
    0%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      background: url(../img/instructor/mt-1974-team-img01.jpg);
      background-position: center top;
      background-size:cover;
      border-style: groove;
      background-repeat: no-repeat;
    }50%{
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      background: url(../img/instructor/mt-1974-team-img01.jpg);
      background-position: center top;
      background-size:cover;
      background-repeat: no-repeat;
      border-style: groove;
    }100%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      background: url(../img/instructor/mt-1974-team-img01.jpg);
      background-position: center top;
      background-size:cover;
      background-repeat: no-repeat;
      border-style: groove;
    }
  }

  .instructor .top3{
    background: url(../img/instructor/gallery-image21_20161114_1276183690.jpg);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
    animation: Top3 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 50%;
    width: 100%;
    border-style: groove;
  }
  
  @keyframes Top3{
    0%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      background: url(../img/instructor/gallery-image21_20161114_1276183690.jpg);
      background-position: center top;
      background-size:cover;
      border-style: groove;
      background-repeat: no-repeat;
    }50%{
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      background: url(../img/instructor/gallery-image21_20161114_1276183690.jpg);
      background-position: center top;
      background-size:cover;
      background-repeat: no-repeat;
      border-style: groove;
    }100%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      background: url(../img/instructor/gallery-image21_20161114_1276183690.jpg);
      background-position: center top;
      background-size:cover;
      background-repeat: no-repeat;
      border-style: groove;
    }
  }

/*=======================================================================
	11-subscribe
=======================================================================*/

  .subscribe{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background: url(../img/gallery-image22_20161114_1249268325.jpg);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.row_S{
    margin: 4%;
  }
 
  .row_S:after{
    content: "";
    display: table;
    clear: both;
  }

.column_S1{
    float: left;
    width: 33%;
    overflow: hidden;
    text-align: center;
}

.column_S1 .intro{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}

.column_S1 p{
    color: aliceblue;
    text-align: center;
}

.column_S1 input{
    margin: 0;
    padding: 0;
    left: 0;
    border: 0;
    border-bottom: 1px solid rgb(240, 239, 239);
    background: transparent;
    width: 100%;
    color: aliceblue;
}

.column_S1 label{
    color: aliceblue;
    letter-spacing: 1px;
}

.column_S1 input[type="submit"]{
    width: 45%;
    height: 45px;
    border-style: solid;
    border-color: rgb(197, 162, 4);
    background: rgb(238, 184, 5);
    color: aliceblue;
  }





/*=======================================================================
	12-contributor
=======================================================================*/
.contributor{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    justify-content: center;
    color: rgb(5, 31, 146);
}

.part_1{
    width: 100%;
}


.column_C{
    float: left;
    width: 25%;
  }
 
  .row_C{
    margin:  2%;
  }
 
  .row_C:after{
    content: "";
    display: table;
    clear: both;
  }

  /*=======================================================================
	13-contact
=======================================================================*/
.contact{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contact .header{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    justify-content: center;
    color: rgb(5, 31, 146);
}

.contact a{
    text-decoration: none;
    color: blue;
}

.column_Contacts_1{
    float: left;
    width: 25%;
  }

  .column_Contacts_1 div{
      margin-bottom: 10%;
      line-height: 30px;
  }

  .column_Contacts_2{
    float: right;
    width: 75%;
    line-height: 30px;
    text-align: center;
  }
 
  .row_Contacts{
    margin:  5%;
  }
 
  .row_Contacts:after{
    content: "";
    display: table;
    clear: both;
  }

  .contact .intro{
        font-weight: bold;
        font-size: 20px;
  }

  .form{
      width: 100%;
  }

  .row1{
    margin:  1%;
  }

  .row1:after{
      content: "";
      display: flex;
      clear: both;
  }

  .column1{
      float: left;
      width: 25%;
      margin: 4%;
  }

  .column1 input{
      width: 100%;
      border-style: solid;
  }

  .row2{
      margin: 0;
  }

  .row2:after{
    content: "";
    display: flex;
    clear: both;
    }

    .column2{
        float: left;
        width: 44%;
        margin-right: 1%;
    }
     
    .column2 input{
        width: 100%;
        border-style: solid;
    }


  .row3{
      margin: 0;
  }

  .row3:after{
      content: "";
      display: flex;
      clear: both;
  }

  .column3{
    width: 100%;
    height: auto;
  }

  .column3 textarea{
    width: 89%;
    border-style: solid;
    margin-left: 11%;
    margin-top: 5%;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #cbcfda;
}


.row4{
    margin-top: 3%;
    margin-left: 7%;
  }

  .row4:after{
      content: "";
      display: flex;
      clear: both;
  }

  .column4{
    float: left;
    width: 25%;
    margin: 1%;
  }

  .column4 input[type="submit"]{
    width: 62%;
    border-style: solid;
    border-color: rgb(51, 88, 249);
    background: rgb(51, 88, 249);
    color: aliceblue;
  }


   /*=======================================================================
	14-footer
=======================================================================*/
.footer{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(0, 0, 32);
}

.link{
    color: aliceblue;
    line-height: 51px;
    margin-top: 3%;
    margin-left: 7%;
    font-size: 29px;
}

.link  a{
    text-decoration: none;
    color: aliceblue;
}

.link i{
    font-size: 56px;
    margin-right: 31px;
    color: rgb(243, 201, 12);
}

.row_footer{
   margin: 0;
  }

  .row_footer:after{
      content: "";
      display: flex;
      clear: both;
  }

  .column_footer1{
    color: aliceblue;
    float: left;
    font-size: 30px;
    width: 21%;
    padding-top: 11%;
    padding-left: 4%;
  }

  .column_footer1 p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }

  .columnC{
      float: left;
      width: 100%;
  }

  .column_footer1 .contact{
    font-size: 99px;
  }

  .column_footer1 .contact:hover{
    color: #184d7b;
  }

  .column_footer1 i:hover{
      color: rgb(243, 201, 12) ;
  }

  .column_footer2{
    float: right;
    width: 75%;
    margin-top: 10%;
  }

  .column_footer2 img{
        width: 80%;
  }

  .cpr{
      width: 100%;
      height: auto;
  }

  .cpr p{
      text-align: center;
      color: aliceblue;
      margin-bottom: 2%;
  }


/*=======================================================================
	15-login
=======================================================================*/

.log_admin{
    position: absolute;
    left: 10%;
    width: 26%;
    height: 260px;
    background: #42a1c66b;
    border-radius: 11px;
    box-shadow: 3px 4px 8px 3px;
    bottom: 33%;
    z-index: 6;
}

.log_admin h2{
    font-style: italic;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 6%;
    color: #ebb314;
}

.log_admin input[type="text"],input[type="password"]{
    margin: 6px;
    margin-left: 14%;
    width: 70%;
}

.log_admin input[type="button"]{
    margin-top: 6%;
    background: #24547d;
    color: aliceblue;
}

.body_login{
    overflow: hidden;
    background-image: linear-gradient(to top, #000001, #2424db);
    width: 100%;
    height: 990px;
}

.body_login .logo{
    width: 25%;
    position: absolute;
    left: 40%;
    top: 5%;
    z-index: 20;
}


/* login's Container */
.fish {
    width: 100%;
    height: 100%;
    animation: swim 3s infinite; 
  }
  
  /* login */
  .fish-body {
    position: relative;
    margin-top: 30px;
    margin-left: 40px;
    background-color: orange;
    border-radius: 50%;
    width: 150px; 
    height: 100px;
  }
  
  .eye {
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .pupil {
    position: absolute;
    z-index: 2;
    margin-left: 5px;
    margin-top: 5px;
    background-color: black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
  
  .fin {
    margin-top: -100px; 
    background-color: orange;
    border-radius: 50%;
    transform: rotate(40deg);
    width: 80px;
    height: 50px;
  }
  
  .fin-bottom {
    margin-top: -10px;
    transform: rotate(-40deg);
  }
  
  /* Bubbles */
  .bubbles {
    position: absolute;
    bottom: 0;
    z-index: 5;
    margin-right: 50px;
    background-color: white;
    border-radius: 50%;
    opacity: .50;
    width: 40px;
    height: 40px;
    animation: up 4s infinite;
  }
  
  .bubble-2 {
    left: 3%;
    animation: up 2s infinite;
  }
  
  .bubble-3 {
    left: 10%;
    opacity: .30;
    animation: up 5s infinite;
  }
  
  .bubble-4 {
    left: 16%;
    animation: up 6s infinite;
  }
  
  .bubble-5 {
    left: 14%;
    animation: up 5s infinite;
  }
  
  .bubble-6 {
    left: 100%;
    opacity: .30;
    animation: up 3s infinite;
  }
  
  .bubble-7 {
    left: 25%;
    animation: up 4s infinite;
  }
  
  .bubble-8 {
    left: 60%;
    opacity: .30;
    animation: up 3s infinite;
  }
  
  /* Swim Animation */
  @keyframes swim {
    0% {
      transform: translateY(-50px) translateX(0) rotate(30deg);
    }
    25% { 
      transform: translateY(50px) translateX(250px) rotate(20deg);
    }
    50% {
      transform: translateY(100px) translateX(500px);
    }
    75% {
      transform: translateY(50px) translateX(850px) rotate(-20deg);
    }
    100% {
      transform: translateY(-170px) translateX(1200px) rotate(-40deg);
    }
  }
  
  /* Bubbles Animation */
  @keyframes up {
    100% {
      transform: translateY(-800px);
    }
  }
  

  /*=======================================================================
	16-dashboard
=======================================================================*/
.admin-panel {
    width: 100%;
  overflow: hidden;
  background-color:rgb(13, 40, 97);
}

.slidebar {
	width:15%;
	float: left;
	background-color: #111;
}
.slidebar ul {
  position:relative;
  height:100%;
}

.slidebar a{
  color: #bbb;
  text-decoration:none;
}
.slidebar li{
  text-align:center;
  padding: 0x 0px;
}

ul {
	padding: 0;
	margin:0;
}
li {
	list-style-type: none;
	margin: 0;
	position: relative;
  text-align:center;
  color:#B3B3B3
}
.slidebar i {
  display:block;
  text-align:center;
  color:#B3B3B3;
  font-size: 40px;
  margin-bottom: 8px;
}

.slidebar ul a {
  color:#B3B3B3;
	text-decoration: none;
	box-sizing:border-box;
	display: block;
	text-transform: capitalize;
  padding: 20px;
}
.slidebar li:hover a, li#active{
	background-color: #313131;
}
.slidebar li:hover i, li#active i{
	color: #17BCE8;
}
.slidebar li:focus i {
	color: #17BCE8;
}

.main {
	float: left;
	width: 85%;
	background-color: rgb(5, 19, 99);
	position: relative;
}

.main h2 {
	margin:1em 30px;
	color:#17BCE8;
	font-size: 20px;
  font-weight:600;
  border-bottom: 1px solid #bbb;
  padding: 0px 0px 20px 0px;
}

.description{
    width: 100%;
    overflow: hidden;
}

.main .logo{
    width: 6%;
}

