/*=======================================================================
	Responsive
=======================================================================*/

@media screen and (max-width:1260px){
    .log .time{
        margin-top: 1%;
        margin-left: 50%;
        width: 45%;
        height: 70%;
        -moz-transform:  translateY(-119%);
        -webkit-transform: translateY(-119%);
        -o-transform: translateY(-119%);
        -ms-transform: translateY(-119%);
        transform: translateY(-119%);
    }
  }

  @media screen and (max-width:1350px){
    .stage_3{
      width: 26px;
      height: 26px;
      display: inline-block;
      position: absolute;
      top: 23%;
      right: 39%;
      z-index: -1;
      -webkit-perspective: 1200px;
      -moz-perspective: 1200px;
      -ms-perspective: 1200px;
      -o-perspective: 1200px;
      perspective: 1200px;
      -webkit-perspective-origin: 50% 50%;
      -moz-perspective-origin: 50% 50%;
      -ms-perspective-origin: 50% 50%;
      -o-perspective-origin: 50% 50%;
      perspective-origin: 50% 50%;
  }
  }

  @media screen and (max-width:1200px){
    .log .time{
        margin-top: 4%;
        margin-left: 50%;
        width: 45%;
        height: 70%;
        -moz-transform:  translateY(-118%);
        -webkit-transform: translateY(-118%);
        -o-transform: translateY(-118%);
        -ms-transform: translateY(-118%);
        transform: translateY(-118%);
    }

    
  }

  @media screen and (max-width:1000px){

    .galery .header img{
        margin-left: 13%;
     }

    .log .time{
        margin-top: 4%;
        margin-left: 50%;
        width: 49%;
        height: 70%;
        -moz-transform:  translateY(-116%);
        -webkit-transform: translateY(-116%);
        -o-transform: translateY(-116%);
        -ms-transform: translateY(-116%);
        transform: translateY(-116%);
    }

    .aft div.logo img{
        float: left;
       width: 25%;
       height: 25%;
       padding-left: 3rem;
       animation: in 3s ease-in-out;
    }
  }

  @media screen and (max-width:800px){
    .log{
        width: 100%;
        height: 90vh;
        align-items: center;
        justify-content: center;
        background-image: url(../img/gallery-image19_20161114_1309202868.jpg);
        background-position: center top;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
    }
    .log .formulaire{
        margin-top: 4%;
        margin-left: 15%;
        width: 70%;
        height: 40vh;
        background: white;
       box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.911);
       border-radius: 5px 5px 5px 5px;
        box-sizing: border-box;
    }

    .log .time{
       transform: none;
       margin-left: 15%;
       margin-top: 1%;
       height: 40vh;
       width: 70%;
    }
  }

  @media screen and (max-width:600px){

    .column_C{
        float: left;
        width: 60%;
      }

      .part_1{
        width: 100%;
        padding-left: 50%;
    }
    
    .part_2{
       width: 80%;
       padding-left: 50%;
    }
    
    .part_3{
       width: 100%;
       padding-left: 50%;
    }
    
    .part_4{
      width: 100%;
      padding-left: 50%;
    }

    .column{
      width: 80%;
      display: block;
      margin-bottom: 20px;
    }

    .aft div.logo img{
        float: left;
       width: 55%;
       height: 55%;
       animation: in 3s ease-in-out;
    }

    .galery .col{
        margin: 5%;
        column-count: 1;
        column-width: 100px;
        column-gap: 5px;
      }
    
  }

  @media screen and (max-width:450px){
    .follower .column{
      float: left;
      width: 50%;
      padding-top: 1%;
      margin: 5%;
    }

    .follower .row {
      padding-left: 26%;
  }
  }

  @media screen and (max-width:700px){
    .column{
        width: 80%;
        display: block;
        margin-bottom: 20px;
      }
  
      .column_S1{
        float: left;
        width: 80%;
        overflow: hidden;
        text-align: center;
        margin: 3%;
    }

    .column_S1 input{
      margin: 0;
      padding: 2%;
      left: 0;
      border: 0;
      border-bottom: 1px solid rgb(240, 239, 239);
      background: transparent;
      width: 70%;
      color: aliceblue;
  }

  .column_S1 label{
    color: aliceblue;
}

.row_S {
  margin-top: 2%;
  margin-left: 12%;
}

.follower .row {
  margin-left: 2%;
  margin-top: 8%;
}

.follower .number {
  font-size: 29px;
  font-family: fantasy;
  line-height: 35px;
  color: #fff;
  font-weight: 500;
}

  }
  