<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        ul,
        li {
            list-style-type: none;
        }
    </style>
    <style type="text/css">
        body {
            text-align: center;
            background-color: #2e2e2e;
            color: #fefefe;
            font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            display: flex;
            flex-direction: column;
            max-height: 95vh;
            ;
            margin: 0;
            line-height: 100%;
        }


        select {
            height: 30px;
            border-radius: 8px;
        }

        .button {
            width: 100px;
            height: 32px;
            display: inline-block;
            font-size: 15px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 8px;
            box-shadow: 0 2px #999;
        }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 1px #666;
            transform: translateY(4px);
        }

        #mynetwork {
            width: 100%;
            height: 850px;
            display: flex;
            flex-direction: column;
            min-height: 90vh;
            float: left;
        }


        #loader {
            position: absolute;
            left: 37%;
            top: 50%;
            z-index: 1;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #7bb1f8;
            width: 10px;
            height: 10px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            border-top: 16px solid #7bb1f8;
        }

        .fullpage-loader--invisible {
            opacity: 0;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0px;
                opacity: 1
            }
        }

        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        #myDiv {
            display: none;
            text-align: center;
        }

        span {
            color: black;
        }

        table {
            font-size: x-small;
        }
    </style>
</head>

<body>
    <nav style="height: 45px;" class="navbar navbar-light bg-light justify-content-between fixed-top">
        <a href="#" ng-click="actualiser()" style="margin-top: -25px; color: black" class="navbar-brand"><img
                style="width: 20px; height: 20px" src="../assets/img/logo.png" alt="ERROR">&nbsp Crawl graph</a>
        <form style="margin-top: -25px; height: 75px;" class="form-inline">
            <input ng-keyup="$event.keyCode == 13 && test($event)" style="width: 775px" id="words" ng-model="mot"
                class="form-control mr-sm-2" type="search" placeholder="Operation's URL" aria-label="Search">
            <input ng-model="nombre" class="my-2 my-sm-0" type="number" min="0" placeholder="Level" />
            &nbsp;
            <li id="parent" class="page-item" ng-click="test($event)">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            &nbsp;
            <li id="child" class="page-item" ng-click="test($event)">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            &nbsp; &nbsp;
            <ul class="pagination pagination-sm justify-content-center" style="opacity: 75%; margin:20px 0">
                <li class="page-item" style="color: #566370" id="{{n}}" ng-repeat="n in range()"><a class="page-link"
                        ng-disabled="false" ng-click="paginate(n)">{{n+1}}</a></li>
            </ul>
        </form>
    </nav>
    <div ng-init=init()>
    </div>

    <div ng-show="loader" id="loader"></div>

    <div class="row align-items-start" style="width: 100%; margin-top: 75px;">
        <div class="col-9 col-md-9 col-sm-9" id="mynetwork"></div>
        <div class="col-3 col-md-3 ocl-sm-3" id="detail">
            <h5>Operation statistic</h5>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <tbody>
                        <tr>
                            <td style="text-align: left">Directive</td>
                            <td style="text-align: right">{{statistic.directive}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Offers: Found/Stored</td>
                            <td style="text-align: right">{{statistic.offersFound.low}}/{{statistic.offersStored.low}}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Links: Found/Stored</td>
                            <td style="text-align: right">{{statistic.linksFound.low}}/{{statistic.linksStored.low}}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Breadcrumbs: Found/Stored</td>
                            <td style="text-align: right">
                                {{statistic.breadCrumbsFound.low}}/{{statistic.breadCrumbsStored.low}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Try count</td>
                            <td style="text-align: right">{{statistic.tryCount.low}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br><br>
            <h5>Connectivity</h5>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <tbody>
                        <tr>
                            <td style="text-align: left">Resource</td>
                            <td style="text-align: right">{{connectivity.resource}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Proxy Client</td>
                            <td style="text-align: right">{{connectivity.proxyRemoteClient}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Attempt</td>
                            <td style="text-align: right">{{connectivity.attempt.low}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Status</td>
                            <td style="text-align: right">{{connectivity.responseCode.low}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Attempt Status</td>
                            <td style="text-align: right">{{connectivity.attemptStatus}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Proxy Host And Port</td>
                            <td style="text-align: right">{{connectivity.proxyHostAndPort}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Page URL</td>
                            <td><a target="_blank" href="{{connectivity.pageUrl}}">{{connectivity.pageUrl}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script>
    $("input[type='number']").inputSpinner()
</script>

</html>